<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Pfade zu den Artikel- und Beschreibungstabellen -->
        <add key="ArtikelListePfad" value="Z:\\1 Auma-Organisation\\1.1 SCK\\1.1.6 IV\\IFS Auftragsetiketten\\Filterlisten\\Artikelliste.txt" />
        <add key="BeschreibungListePfad" value="Z:\\1 Auma-Organisation\\1.1 SCK\\1.1.6 IV\\IFS Auftragsetiketten\\Filterlisten\\Beschreibungsliste.txt" />
        <!-- Basis-URL der REST-Schnittstelle zum Abrufen von Konfigurationsdaten -->
        <add key="ConfigApiBaseUrl" value="http://example.com/api" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
				<binding name="BasicHttpBinding_ISAMsphere" maxReceivedMessageSize="2000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wmapp09.auma.com/Webservices/SAMsphereServer/SAMsphereServer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISAMsphere"
                contract="SAMsphereServer.ISAMsphere" name="BasicHttpBinding_ISAMsphere" />
        </client>
    </system.serviceModel>
</configuration>