<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
				<binding name="BasicHttpBinding_ISAMsphere" maxReceivedMessageSize="2000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wmapp09.auma.com/Webservices/SAMsphereServer/SAMsphereServer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISAMsphere"
                contract="SAMsphereServer.ISAMsphere" name="BasicHttpBinding_ISAMsphere" />
        </client>
    </system.serviceModel>
</configuration>